h1{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}
.img{
    width: 5px;
    height: 20rem;
}
/* .outlined-basic{
    width:35rem;
} */